<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">Example Component</div>
          <div class="card-body">
            <form method="post">
              <input v-model="article_url" type="text" />
              <input type="submit" @click.prevent="submit">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
    <div class="row" v-if="this.article == '1'">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">Data</div>
          <div class="card-body">
            <table>
              <thead>
              </thead>
              <tbody>
                <tr>
                  <th>Title</th>
                  <td>{{ data.title}}</td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>{{ data.description}}</td>
                </tr>
                <tr>
                  <th>URL</th>
                  <td>{{ data.url }}</td>
                </tr>
                <tr>
                  <th>Image URL</th>
                  <td>{{ data.image }}</td>
                </tr>
                <tr>
                  <th>Article</th>
                  <td>{{ data.article }}</td>
                </tr>
                <tr>
                  <th>Sentiment Analysis</th>
                  <td>Positive: {{ data.sentiment_analysis.pos }}
                    <br>
                      Neutral: {{ data.sentiment_analysis.neu }}
                      <br>
                      Negative: {{ data.sentiment_analysis.neg }}
                      <br>
                      Compound: {{ data.sentiment_analysis.compound }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        article_url: '',
        data: {
          title: '',
          description: '',
          image: '',
          sentiment_analysis: {
            neg: '',
            neu: '',
            pos: '',
            compound: ''
          },
          article: '',
          url: ''
        },
        article: '',

      }

    },

    mounted() {
      console.log('Component mounted.')
    },

    methods: {
      submit() {
	let formData = new FormData();
	 formData.append('url', this.article_url);
	console.log(formData);
        /*this.$http.post(`/analysis`, this.formData)
        .then(response => {
          this.data = response.data;
          this.article = '1';
          console.log(response.data)
        })*/
      }
    }
  }
</script>
